:root {
    --width_pattern--buttons: 25%;
    --height_patternb--buttons: 10%;
}

body{
    /* background: no-repeat center/100% url( "../images/background.jpg"); */
}

.box{
    /* width: 25%; */
}

.calculator{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 2rem;
}

.calculator__monitor{
    display: flex;
    justify-content: center;
    align-items: center;
    grid-row: 1/ 2;
    grid-column: 1/5;
    margin-bottom: 1rem;
    text-align: center;
    font-size: 3rem;
}



.footer{
    align-items:center;
    bottom: 0;
    display: flex;
    
    width: 100%;
    justify-content: center;
    left: 0;
    position: absolute;
    text-align: center;
}

.header{
   
    display: flex;
    width: 100%;
    height: 3rem;
    text-align: center;
    margin-top: 2rem;
    justify-content: center;
    align-items:center;
}

.grid{
    background-color: rgba(73,164,181,0.6);
    display: grid;
    grid-template-columns:  auto auto auto auto;
    grid-template-rows: auto auto auto auto auto;
    height: calc(80vh - 8rem);
    /* justify-content: space-evenly; */
    margin:0 auto;
    padding: 2.5rem;
    width: 100%;
    row-gap: 1rem;
    column-gap: 1rem;

    justify-content: center;
    align-content: center;

}




@media screen and (min-width: 340px){
    body{

        background: rgb(73,164,181);
        background: linear-gradient(90deg, rgba(73,164,181,1) 0%, rgba(102,210,231,1) 49%, rgba(73,164,181,1) 95%);

        /* background-image: url("../images/background.jpg");
        background-repeat: no-repeat;
        background-size: cover; */

    }

    .header{
        color: rgb(5, 5, 5, 0.7);
    }

    .box{
       margin-bottom: 2rem;
    }

    .footer{
      margin-bottom: .5rem;
    }

    .calculator__monitor{
        margin-bottom: 2rem;
        font-size: 2rem;
    }
}

@media screen and (min-width: 768px){

    .calculator__monitor{
        font-size: 2.3rem;
    }

}


@media screen and (min-width: 1200px){
    body{  
        background-image: url("../images/background.jpg");
        background-repeat: no-repeat;
        background-size: cover; 
    }

    .header{
         color: rgba(39,64,42,0.9);
    }

    .footer{
        font-weight:500;
    }

}

