body{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,64,121,1) 42%, rgba(0,212,255,1) 100%);
}

.botoes{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;    
}

.Botao {
    background-color: black;
    border-radius: 12px;
    color: #f9f9f9;
    margin: 0rem 6rem;
    font-size: 2.5rem;
    padding: 1rem;
    
}

.Botao:active{
    color: rgba(0,212,255,1)
}

.principal{
    display: flex;
    flex-wrap: wrap;
    height: 90vh;
    width: 100%;
    justify-content: center;
    align-items: center;
}



.relogio{
    text-align: center;
    font-size: 12rem;
    margin: 1rem;
}

.titulo{
    text-align: center;
    /* height: 2rem; */
    margin-top: 2rem;
    font-size: 3rem;
}


@media screen and (min-width: 340px){
   
    .titulo{
        font-size: 2rem;
    }

    .relogio{
        font-size: 3.5rem;
    }

    
    .Botao {
        margin: 0rem 1rem;
        font-size: 1rem;
        
    }

}

@media screen and (min-width: 768px){
   
    .titulo{
        font-size: 3rem;
    }

    .relogio{
        font-size: 7rem;
    }

    
    .Botao {
        margin: 0rem 2rem;
        font-size: 2.5rem;        
    }

}


@media screen and (min-width: 950px){
    
    .relogio{
        font-size: 10rem;
    }

    
    .Botao {
        margin: 0rem 3rem;
        
    }

}


@media screen and (min-width: 1200px){
   
    .titulo{
        font-size: 3.3rem;
    }

    .relogio{
        font-size: 13rem;
    }
    
    .Botao {
        margin: 2rem 3rem;
        font-size: 3rem;
        
    }

}

